[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "netlify-plugin-cypress"

[[headers]]
  for = "/*"
  [headers.values]
  accept-ch = "sec-ch-viewport-width, sec-ch-width, sec-ch-dpr, ect"
  link = "<https://4blf1emx.cdn.imgeng.in/>; rel=preconnect, <https://bryansandbox.imgix.net/>; rel=preconnect,"
  permissions-policy = ''' ch-viewport-width=("https://4blf1emx.cdn.imgeng.in", "https://bryansandbox.imgix.net"), ch-width=("https://4blf1emx.cdn.imgeng.in", "https://bryansandbox.imgix.net"), ch-dpr=("https://4blf1emx.cdn.imgeng.in", "https://bryansandbox.imgix.net"), ect=("https://4blf1emx.cdn.imgeng.in", "https://bryansandbox.imgix.net")'''
