[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "netlify-plugin-cypress"

[[headers]]
  for = "/imgix"
  [headers.values]
    accept-ch = "sec-ch-viewport-width, sec-ch-width, sec-ch-dpr, ect"
    link = "<https://bryansandbox.imgix.net/>; rel=preconnect"
    permissions-policy = ''' ch-viewport-width=("https://bryansandbox.imgix.net"), ch-width=("https://bryansandbox.imgix.net"), ch-dpr=("https://bryansandbox.imgix.net"), ect=("https://bryansandbox.imgix.net")'''
[[headers]]
  for = "/imageengine"
  [headers.values]
    accept-ch = "sec-ch-viewport-width, sec-ch-width, sec-ch-dpr, ect"
    link = "<https://4blf1emx.cdn.imgeng.in/>; rel=preconnect"
    permissions-policy = ''' ch-viewport-width=("https://4blf1emx.cdn.imgeng.in"), ch-width=("https://4blf1emx.cdn.imgeng.in"), ch-dpr=("https://4blf1emx.cdn.imgeng.in"), ect=("https://4blf1emx.cdn.imgeng.in")'''
